/*FORMATAÇÃO GERAL*/
body,html{
	height: 100%;
	background-color: #EEE0E5;
    overflow-x: hidden;
}
/*LOGOTIPO*/
#logotipo{
	color: #87CEFA;
	font-size: 28px;
    font-family: "Courier";
	display: flex !important;
	justify-content: center !important;
    margin: 5px 5px 40px 5px;

    border-radius: 22px;
    /*Compatibilidade*/
	-webkit-border-radius: 22px;
    -moz-border-radius: 22px;

    box-shadow: 2px 2px 20px 2px #337ab7;
    /*Compatibilidade*/
    -webkit-box-shadow: 2px 2px 20px 2px #337ab7;
    -moz-box-shadow: 2px 2px 20px 2px #337ab7;
}
#logotipo a{
    text-decoration: none;
    color: #87CEFA;
    
}
#logotipo a:hover{
    text-decoration: none;
    background: #111;
    
}
#img-logo{
    width: 60px;
    height: 50px;
    display: block;
    margin-left: 110px;
    margin-bottom: 10px;

}
/*COMPONENTES GERAIS DA PÁGINA*/
#cabecalho{
    color: #111;
    font-size: 28px;
    margin-left: 47%;
    margin-bottom: 20px;
}
#formulario{
    margin-left: 40%;
}
#pesquisa{
    margin-left: 40%;
}
#tabela-pesquisa{
    margin-left: 38%;
    margin-top: 100px;
}

/*BOTAO INICIO CENTRALIZADO*/
#inicio{
    text-align: center;
}
#rodape{
      text-align: center;
      font-size: 14px;
      line-height: 570px;;
}
.conteudo{
    color: #111;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 15px;
}
.cadastrar-salvar{
    width: 100%;
    
}

/*BARRA LATERAL, INDEPENDENTE DO MENU DE OPÇÕES*/
.barra-lateral{
    height: 100%;
    width: 290px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-top: 0px;
    display: table-cell;
    box-shadow: 2px 2px 20px 2px #111;
    -webkit-box-shadow: 2px 2px 20px 2px #111;

}
/*MENU LATERAL*/
.menu-lateral a {
    padding: 8px 8px 8px 5px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}
.menu-lateral a:hover{
    background: rgba(51,122,183,0.6);
    color: #111;
    transition: 0.6s;
    border-radius: 18px;
    /*Compatibilidade*/
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
}
